# Filmek mappája -- ez lesz beolvasva az adminból
# Windows példa:
# MEDIA_PATH=D:\Filmek
#
# Linux/Mac példa:
# MEDIA_PATH=/home/user/Filmek
#
# Ha nincs megadva, a beolvasás funkció nem érhető el.
MEDIA_PATH=
